In [1]:
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from src import edhrec_requests as edh
from src import funciones

In [2]:
#Cargamos un folder con mazos diferentes para el análisis
df = edh.load_decks_from_folder3("mazos/kinnan")

df

                     Deck Name          Card Name
0     1 Kinnan, Bonder Prodigy       Ancient Tomb
1     1 Kinnan, Bonder Prodigy      Arcane Signet
2     1 Kinnan, Bonder Prodigy  Archdruid's Charm
3     1 Kinnan, Bonder Prodigy    Basalt Monolith
4     1 Kinnan, Bonder Prodigy  Birds of Paradise
...                        ...                ...
1083  1 Kinnan, Bonder Prodigy      Thorn Mammoth
1084  1 Kinnan, Bonder Prodigy        Trinisphere
1085  1 Kinnan, Bonder Prodigy     Veil of Summer
1086  1 Kinnan, Bonder Prodigy      Verity Circle
1087  1 Kinnan, Bonder Prodigy      Void Winnower

[1088 rows x 2 columns]

In [3]:
#Cargamos la base de datos de cartas
df_bd = pd.read_csv("cartas_limpiadas.csv")

In [4]:
#Vamos a añadirle la información relevante
df = edh.añadir_columnas_relevantes(df_bd, df)
df.info()
df.head()

e:\AreaTrabajo\REPO_PRUEBA\Itsazain_Bilbao_EDA\src\edhrec_requests.py:143: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Land' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_final.at[i, "type_line"] = match.iloc[0]["type_line"]
e:\AreaTrabajo\REPO_PRUEBA\Itsazain_Bilbao_EDA\src\edhrec_requests.py:144: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'tmp' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_final.at[i, "set"] = match.iloc[0]["set"]
e:\AreaTrabajo\REPO_PRUEBA\Itsazain_Bilbao_EDA\src\edhrec_requests.py:145: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1997-10-14' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_final.at[i, "released_at"] = match.iloc[0]["released_at"]

<class 'pandas.core.frame.DataFrame'>
Index: 1067 entries, 0 to 1087
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Deck Name     1067 non-null   object
 1   Card Name     1067 non-null   object
 2   type_line     1062 non-null   object
 3   set           1062 non-null   object
 4   released_at   1062 non-null   object
 5   release_year  1062 non-null   float64
 6   edhrec_rank   1062 non-null   float64
dtypes: float64(2), object(5)
memory usage: 99.0+ KB

,Deck Name,Card Name,type_line,set,released_at,release_year,edhrec_rank
0,"1 Kinnan, Bonder Prodigy",Ancient Tomb,Land,tmp,1997-10-14,1997.0,57.0
1,"1 Kinnan, Bonder Prodigy",Arcane Signet,Artifact,eld,2019-10-04,2019.0,3.0
2,"1 Kinnan, Bonder Prodigy",Archdruid's Charm,Instant,pmkm,2024-02-09,2024.0,848.0
3,"1 Kinnan, Bonder Prodigy",Basalt Monolith,Artifact,lea,1993-08-05,1993.0,506.0
4,"1 Kinnan, Bonder Prodigy",Birds of Paradise,Creature — Bird,lea,1993-08-05,1993.0,38.0

In [5]:
#Vamos a mirar los nulos, sospecho que son o cartas que no han sido publicadas o cartas que han sido prohibidas
#Esto sucede porque hay mazos de torneos antiguos o de torneos de promoción, lo que puede joderlo un poco
#Pero vaya, se eliminan los NAN y listo

In [6]:
df.loc[df["type_line"].isna()]

,Deck Name,Card Name,type_line,set,released_at,release_year,edhrec_rank
158,"1 Kinnan, Bonder Prodigy",Mistrise Village,NaN,NaN,NaN,NaN,NaN
165,"1 Kinnan, Bonder Prodigy",Nature's Rhythm,NaN,NaN,NaN,NaN,NaN
463,"1 Kinnan, Bonder Prodigy",Mistrise Village,NaN,NaN,NaN,NaN,NaN
535,"1 Kinnan, Bonder Prodigy",Mana Crypt,NaN,NaN,NaN,NaN,NaN
614,"1 Kinnan, Bonder Prodigy",Mana Crypt,NaN,NaN,NaN,NaN,NaN

In [7]:
df.dropna(subset=['type_line'], how='all', inplace=True)
df.info()
df.loc[df["type_line"].isna()]

<class 'pandas.core.frame.DataFrame'>
Index: 1062 entries, 0 to 1087
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Deck Name     1062 non-null   object
 1   Card Name     1062 non-null   object
 2   type_line     1062 non-null   object
 3   set           1062 non-null   object
 4   released_at   1062 non-null   object
 5   release_year  1062 non-null   float64
 6   edhrec_rank   1062 non-null   float64
dtypes: float64(2), object(5)
memory usage: 66.4+ KB

Empty DataFrame
Columns: [Deck Name, Card Name, type_line, set, released_at, release_year, edhrec_rank]
Index: []